body {
    background: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    transition: background-color 0.3s;
  }
  
  .container {
    text-align: center; /
  }

  p{
    font-size: 20px;
  }
  
  .button-container {
    background-color: white; 
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block; 
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
  }
  
  .button-container:hover {
    opacity: 1; 
    transform: translateY(0); 
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0; 
      transform: translateY(-20px); 
    }
    to {
      opacity: 1; 
      transform: translateY(0); 
    }
  }
  
  /* Transisi untuk tombol */
  button {
    padding: 15px 30px; 
    border: none;
    border-radius: 6px;
    background-color: #007bff; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  
  /* Transisi untuk kursor */
  body:hover {
    background-color: #333; 
  }
  